{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2019,
    "tsconfigRootDir": ".",
    "createDefaultProgram": true,
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "es2020": true
  },
  "root": true,
  "globals": {
    "window": true
  },
  "rules": {
    "no-unused-vars": "off",
    "eqeqeq": "error",
    "quotes": ["error", "single"],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "before": false,
        "after": true,
        "overrides": {
          "arrow": {
            "before": true,
            "after": true
          }
        }
      }
    ],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi"
        },
        "singleline": {
          "delimiter": "semi"
        }
      }
    ],
    "@typescript-eslint/consistent-type-definitions": "off"
  }
}
